.moderation-chat-container {
  padding: 10px;
  width: 96%;

  &.hidden {
    visibility: hidden;
  }

  .messages {
    border: 2px solid #F5F5F5;
    height: 200px;
    padding: 20px;
    overflow: auto;

    .message {
      display: flex;
      margin-bottom: 10px;
      font-family: 'SF Pro';
      color: #36343D;

      div:nth-child(1) {
        width: 16%;
      }

      div:nth-child(2) {
        width: 66%;
        white-space: break-spaces;
      }

      div:nth-child(3) {
        width: 18%;
        text-align: right;
        font-size: 0.8em;
        color: #6E6E6F;
      }
    }
  }

  .form {
    position: relative;

    textarea {
      width: 100%;
      padding: 10px;
      padding-right: 20px;
      border: 1px solid #F5F5F5;
      background-color: #F5F5F5;
      resize: vertical;

      &:focus {
        outline: none;
      }
    }

    button {
      color: #00A6A8;
      background: none;
      border: none;
      position: absolute;
      right: 10px;
      bottom: 5px;
      padding: 6px;
      cursor: pointer;

      svg {
        transform: rotate(-45deg);
      }
    }
  }
}
